<div class="container">
  <mat-toolbar color="primary">
    <div></div>
    <div class="ipn_img"></div>
  </mat-toolbar>
  <div class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="form-title-size bold">{{labels.formTitle}}</mat-card-title>
        <mat-card-subtitle>{{labels.formSubtitle}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="submitted && error" style="color: red;">
          <div >Correo y/o contraseña incorrectas</div>
        </div>
        <form [formGroup]="userCredentialsForm" (ngSubmit)="submit()">
          <mat-form-field color="primary">
            <mat-label>{{labels.email}}</mat-label>
            <input matInput formControlName="email" type="text" placeholder="{{placeholders.email}}" appAutofocus>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{labels.password}}</mat-label>
            <input matInput formControlName="password" type="password" placeholder="{{placeholders.password}}">
          </mat-form-field>
          <button type="submit" style="display: none;"></button>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="submit()">
          {{labels.submit}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
