<div class="container">
  <div class="c_container">
    <div class="mat-card-container">
      <mat-card>
        <mat-card-header style="justify-content: center;">
          <mat-card-title class="title-size">
            {{labels.pagetitle}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="getHumanResourcesByPositionId(form.get('position').value['id'])">
            <mat-form-field>
              <mat-select formControlName="position" name="uno" [placeholder]="labels.position">
                <ngx-mat-select-search name = "funciona" [formControl]="searchPositionsCtrl"
                                       [placeholderLabel]="placeholders.search"
                                       [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
                <mat-option  (click)="getHumanResourcesByWorkplaceId()">--Sin Filtro--</mat-option>
                <mat-option id="position_{{i}}" *ngFor="let position of filteredPositions | async; index as i" [value]="position" (click)="getHumanResourcesByPositionId(position.id)">
                  {{position.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="vertical_space"></div>
    <div class="table_container">
      <table mat-table [dataSource]="humanResourcesDataSource">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{labels.name}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">
            {{element.name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="firstSurname">
          <th mat-header-cell *matHeaderCellDef>{{labels.firstSurname}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.firstSurname}}</td>
        </ng-container>

        <ng-container matColumnDef="secondSurname">
          <th mat-header-cell *matHeaderCellDef>{{labels.secondSurname}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.secondSurname}}</td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>{{labels.title}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.title.name}}</td>
        </ng-container>

        <ng-container matColumnDef="positions">
          <th mat-header-cell *matHeaderCellDef>{{labels.position}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{arrayToString(element.positions)}}</td>
        </ng-container>

        <ng-container matColumnDef="workplace">
          <th mat-header-cell *matHeaderCellDef>{{labels.workplace}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.workplace.name}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>{{labels.edit}}</th>
          <td mat-cell *matCellDef="let element" class="no-background-change">
            <button mat-icon-button id="edit_{{element.id}}" (click)="edit(element.id)" color="accent">
              <mat-icon>create</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>{{labels.delete}}</th>
          <td mat-cell *matCellDef="let element" class="no-background-change">
            <button mat-icon-button id="delete_{{element.id}}" (click)="delete(element.id)" color="warn">
              <mat-icon>highlight_off</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="vertical_space"></div>
    <div class="mat-card-container">
      <mat-card>
        <mat-card-header style="justify-content: center;">
          <button name="botonadd" id="boton1" mat-fab color="primary" (click)="add()">
            <mat-icon style="color: white;">add</mat-icon>
          </button>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
