<div class="container">
  <mat-card class="myCard">
    <mat-card-header class="myCardHeader">
      <mat-card-title><h4>{{labels.pageTitle}}</h4></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <mat-grid-list rowHeight="2em" [cols]="2">
          <mat-grid-tile>
            <mat-label>{{labels.learningUnit}}</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control [selectDataObject]="luSelect" (onValueChange)="formGroup.patchValue({learningUnit: $event})"></app-select-form-control>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label>{{labels.thematicUnitNumber}}</mat-label>
          </mat-grid-tile>
          <div formGroupName="content">
          <mat-grid-tile>
            <mat-form-field>
              <input required formControlName="number" disabled matInput placeholder="{{labels.thematicUnitNumber}}">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label>{{labels.thematicUnitName}}</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input required formControlName="name" disabled matInput placeholder="{{labels.thematicUnitName}}">
            </mat-form-field>
          </mat-grid-tile>
          </div>
        </mat-grid-list><br>
        <mat-form-field >
          <textarea required formControlName="competenceUnit" matInput placeholder="{{labels.competenceUnit}}"></textarea>
        </mat-form-field>
        <mat-grid-list [cols]="1" rowHeight="2em">
          <mat-grid-tile>
            <mat-divider></mat-divider><br><br>
          </mat-grid-tile>
          <mat-grid-tile>
            <button (click)="goTopics()" [disabled]="isFinished" mat-flat-button color="primary">{{labels.topics}} <mat-icon style="width: auto">launch</mat-icon></button>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-divider></mat-divider> <br><br>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-form-field >
          <textarea required formControlName="learningStrategy" matInput placeholder="{{labels.learningStrategies}}"></textarea>
        </mat-form-field>
        <mat-grid-list [cols]="1" rowHeight="2em">
          <mat-grid-tile>
            <mat-divider></mat-divider><br><br>
          </mat-grid-tile>
          <mat-grid-tile>
            <button (click)="goLearningEval()" [disabled]="isFinished" mat-flat-button color="primary">{{labels.learningEvaluation}} <mat-icon style="width: auto">launch</mat-icon></button>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-divider></mat-divider> <br><br>
          </mat-grid-tile>
        </mat-grid-list>
        <div style="float: right">
          <button type="button" [disabled]="isFinished" (click)="onSubmit()" mat-button color="primary" >{{labels.button.save}}</button>
          <button type="button" [disabled]="isFinished" mat-button color="warn" (click)="onFinished()" matStepperNext >{{labels.button.finish}}</button>
        </div>
      </form>
      <mat-progress-bar [value]="((actualContentIndex + 1) / numberOfUT) * 100"></mat-progress-bar><br>
      <div style=" margin-left: auto; margin-right: 50%;" >
        <button type="button" (click)="nextContet()" mat-icon-button color="primary" ><mat-icon>navigate_next</mat-icon></button>
        <mat-label>{{(actualContentIndex + 1)}} / {{numberOfUT}}</mat-label>
        <button type="button" (click)="previousContent()" mat-icon-button color="primary" ><mat-icon>navigate_before</mat-icon></button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
