<div class="container">
  <mat-card class="myCard">
    <mat-card-header class="myCardHeader">
      <mat-card-title><h4>{{labels.pageTitle}}</h4></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content >
      <div [formGroup]="formGroup" >
        <div formGroupName="evals">
          <div *ngFor="let control of evals.controls; let i = index">
          <div formGroupName="{{i}}">
            <mat-grid-list [cols]="4" rowHeight="2em" >
          <mat-grid-tile>
            <mat-form-field>
              <input matInput type="text" formControlName="name" placeholder="{{labels.evalName}}">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label>{{labels.percentage}}</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="percentage" min="0" type="number">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control [selectDataObject]="sEvalType" (onValueChange)="evals.at(i).patchValue({evaluationType: $event})"></app-select-form-control>
          </mat-grid-tile>
        </mat-grid-list><br>
          </div>
        </div>
        </div>
        <mat-divider></mat-divider><br>
        <mat-grid-list [cols]="2" rowHeight="2em">
          <mat-grid-tile>
            <button mat-flat-button color="warn"  type="button" (click)="popEval()">{{labels.button.dropEval}}</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-flat-button color="primary"  type="button" (click)="addEval()">{{labels.button.addEval}}</button>
          </mat-grid-tile>

        </mat-grid-list><br><br>
        <div style="text-align: center">
          <button mat-button color="primary" (click)="onSubmit()" type="button" >{{labels.button.save}}</button>
          <button mat-button color="warn" type="button" (click)="closeWindow()">{{labels.button.close}}</button>

        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
