<div class="container">
    <mat-card class="myCard">
      <mat-card-header class="myCardHeader">
        <mat-card-title><h4>{{labels.pageTitle}}</h4></mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <br>
      
      <mat-card-content>
        
        <form [formGroup]="formGroup" >
  
          <mat-grid-list rowHeight="2em" [cols]="2">
            
            <mat-grid-tile><mat-label>{{labels.elaboratedBy}}:</mat-label></mat-grid-tile>
            <mat-grid-tile>
              <app-select-form-control [selectDataObject]="elaboratedBySelect" (onValueChange)="formGroup.patchValue({elaboratedBy: $event})" required></app-select-form-control>
            </mat-grid-tile>
            
            <mat-grid-tile><mat-label>{{labels.revisedBy}}:</mat-label></mat-grid-tile>
            <mat-grid-tile>
              <app-select-form-control [selectDataObject]="revisedBySelect" (onValueChange)="formGroup.patchValue({revisedBy: $event})" required></app-select-form-control>
            </mat-grid-tile>
            
            <mat-grid-tile><mat-label>{{labels.approvedBy}}:</mat-label></mat-grid-tile>
            <mat-grid-tile>
              <app-select-form-control [selectDataObject]="approvedBySelect" (onValueChange)="formGroup.patchValue({approvedBy: $event})" required></app-select-form-control>
            </mat-grid-tile>
            
            <mat-grid-tile><mat-label>{{labels.authorizedBy}}:</mat-label></mat-grid-tile>
            <mat-grid-tile>
              <app-select-form-control [selectDataObject]="authorizedBySelect" (onValueChange)="formGroup.patchValue({authorizedBy: $event})" required></app-select-form-control>
            </mat-grid-tile>
            
          </mat-grid-list>
          
          <!-- *******************************************************************  -->
          <div style="float: right">
            <button type="button" [disabled]="isFinished"  (click)="onSave()"   mat-button color="primary" >{{labels.button.save}}</button>
            <button type="button" [disabled]="isFinished"  (click)="onSubmit()" mat-button color="warn" matStepperNext >{{labels.button.finish}}</button>
          </div>
        
        </form>
      </mat-card-content>
    </mat-card>
</div>
  