<div class="container">
  <mat-card class="myCard">
    <mat-card-header class="myCardHeader">
      <mat-card-title><h4>{{labels.pageTitle}}</h4></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content >
      <div [formGroup]="formGroup" >
        <div formArrayName="subtopics">
          <div *ngFor="let subtopic of subtopics.controls; let i = index">
            <div formGroupName="{{i}}">
              <mat-grid-list [cols]="2" rowHeight="2em">
                <mat-grid-tile><mat-label>{{labels.subtopicNum}}</mat-label></mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput value="{{i+1}}" formControlName="number" type="number">
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
                <div>
                  <mat-form-field>
                    <input matInput required type="text" formControlName="name" placeholder="{{labels.subtopicName}}">
                  </mat-form-field>
                </div>
            </div>
          </div>
        </div>
        <mat-grid-list [cols]="2" rowHeight="2em">
          <mat-grid-tile>
            <button mat-flat-button color="warn"  type="button" (click)="popSubtopic()">{{labels.button.dropSubTopic}}</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-flat-button color="primary"  type="button" (click)="addSubtopic()">{{labels.button.addSubTopic}}</button>
          </mat-grid-tile>
        </mat-grid-list><br><br>

        <div style="text-align: center">
          <button mat-button color="primary" (click)="onSubmit()" type="button" >{{labels.button.save}}</button>
          <button mat-button color="warn" type="button" (click)="goBack()" matStepperNext>{{labels.button.close}}</button>

        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
