<div class="container">
  <div class="c_container">
    <div class="mat-card-container">
      <mat-card>
        <mat-card-header style="justify-content: center;">
          <mat-card-title class="title-size">
            {{labels.pagetitle}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="getActiveUsersForUserByRole(form.controls['role'].value['id'])">
            <mat-form-field name="uno">
              <mat-select formControlName="role" [placeholder]="labels.position">
                <ngx-mat-select-search [formControl]="searchRolesCtrl"
                                       [placeholderLabel]="placeholders.search"
                                       [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
                <mat-option id="option_00" (click)="getActiveUsersForUser()">--Sin Filtro--</mat-option>
                <mat-option id="role_{{i}}" *ngFor="let role of filteredRoles | async; index as i" [value]="role" (click)="getActiveUsersForUserByRole(role.id)">
                  {{role.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="vertical_space"></div>
    <div class="table_container">
      <table mat-table [dataSource]="usersDataSource">

        <ng-container matColumnDef="humanResource.name">
          <th mat-header-cell *matHeaderCellDef>{{labels.name}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">
            {{element.humanResource.name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="humanResource.firstSurname">
          <th mat-header-cell *matHeaderCellDef>{{labels.firstSurname}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.humanResource.firstSurname}}</td>
        </ng-container>

        <ng-container matColumnDef="humanResource.secondSurname">
          <th mat-header-cell *matHeaderCellDef>{{labels.secondSurname}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.humanResource.secondSurname}}</td>
        </ng-container>

        <ng-container matColumnDef="humanResource.title">
          <th mat-header-cell *matHeaderCellDef>{{labels.title}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.humanResource.title.name}}</td>
        </ng-container>

        <ng-container matColumnDef="roles">
          <th mat-header-cell *matHeaderCellDef>{{labels.position}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{rolesToString(element.roles)}}</td>
        </ng-container>

        <ng-container matColumnDef="humanResource.workplace">
          <th mat-header-cell *matHeaderCellDef>{{labels.workplace}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.humanResource.workplace.name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>{{labels.edit}}</th>
          <td mat-cell *matCellDef="let element" class="no-background-change">
            <button mat-icon-button id="edit_{{element.id}}" (click)="edit(element.id)" color="accent">
              <mat-icon>create</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>{{labels.delete}}</th>
          <td mat-cell *matCellDef="let element" class="no-background-change">
            <button mat-icon-button id="delete_{{element.id}}" (click)="delete(element.id)" color="warn">
              <mat-icon>highlight_off</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="vertical_space"></div>
    <div class="mat-card-container">
      <mat-card>
        <mat-card-header style="justify-content: center;">
          <button id="ub1" mat-fab color="primary" (click)="add()">
            <mat-icon style="color: white;">add</mat-icon>
          </button>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
