
.container{
  display: flex;
}
.myCard{
  width: 96.7vw;
}

mat-grid-tile *{
  width: 95%;

}
mat-form-field{
  width: 100%;
}
.myButton{
  width: 100%;
  display: block;
}
.myTable{
  width: 100%;
}
.tableHeadCell{
  display: flex;
  background-color: #ad1457;
  color: #f9f9f9
}

mat-label{
  font-weight: bold;
  text-transform: uppercase;
}

mat-card-header{
  text-align: center;
  text-transform: uppercase;
}

.mayus{
  text-transform: uppercase;
}