<div class="container">
  <mat-card class="myCard">
    <mat-card-header class="myCardHeader">
      <mat-card-title><h4>{{labels.pageTitle}}</h4></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content >
      <div [formGroup]="formGroup" >
        <mat-grid-list [cols]="3" rowHeight="2em">
          <mat-grid-tile><mat-label>{{labels.acreditacion}}</mat-label></mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control [multiselect]="true" [selectDataObject]="accTySelect" (onValueChange)="formGroup.patchValue({accreditationType: $event})" ></app-select-form-control>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-button color="primary"  type="button" (click)="addAccreditation()">{{labels.button.addAcc}}</button>
          </mat-grid-tile>
        </mat-grid-list><br>
        <mat-divider></mat-divider><br>
        <div formArrayName="evaluationUA">
          <div *ngFor="let eval of evaluation.controls; let i = index" >
            <div formGroupName="{{i}}">
              <mat-grid-list [cols]="3" rowHeight="2em">
                <mat-grid-tile>
                  <mat-form-field>
                    <input placeholder="Evaluación No. {{i+1}}" matInput formControlName="name" type="text">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-label style="text-align: right"> {{labels.percentage}}</mat-label></mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                      <input  matInput formControlName="percentage" type="number">
                    </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list [cols]="1" rowHeight="1em"><mat-grid-tile></mat-grid-tile></mat-grid-list>
            </div>
          </div>
          <mat-grid-list [cols]="2" rowHeight="2em">
            <mat-grid-tile>
              <button mat-flat-button color="warn"  type="button" (click)="popEval()">{{labels.button.dropEval}}</button>
            </mat-grid-tile>
            <mat-grid-tile>
            <button mat-flat-button color="primary"  type="button" (click)="addEval()">{{labels.button.addEval}}</button>
          </mat-grid-tile>

          </mat-grid-list><br><br>
        </div>

        <div style="text-align: center">
          <button mat-button color="primary" [disabled]="!formGroup.valid" type="button" (click)="createEvalAccredit()">{{labels.button.save}}</button>
          <button mat-button color="warn" type="button" (click)="closeWindow()" matStepperNext>{{labels.button.cancel}}</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
