<div class="container">
  <mat-card class="myCard">
    <mat-card-header class="myCardHeader">
      <mat-card-title><h4>{{labels.pageTitle}}</h4></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <mat-grid-list rowHeight="2em" [cols]="2">
          <mat-grid-tile>
            <mat-label>{{labels.learningUnit}}</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control [selectDataObject]="auSelect" (onValueChange)="formGroup.patchValue({academicUnit: $event})"></app-select-form-control>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label>{{labels.thematicUnitNumber}}</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input required formControlName="thematicUnitNumber" matInput placeholder="{{labels.thematicUnitNumber}}">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label>{{labels.thematicUnitName}}</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input required formControlName="thematicUnitName" matInput placeholder="{{labels.thematicUnitName}}">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list><br>
        <mat-form-field >
          <textarea required formControlName="competenceUnit" matInput placeholder="{{labels.competenceUnit}}"></textarea>
        </mat-form-field>
        <mat-grid-list [cols]="1" rowHeight="2em">
          <mat-grid-tile>
            <mat-divider></mat-divider><br><br>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-flat-button color="primary">{{labels.topics}} <mat-icon style="width: auto">launch</mat-icon></button>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-divider></mat-divider> <br><br>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-form-field >
          <textarea required formControlName="learningStrategies" matInput placeholder="{{labels.learningStrategies}}"></textarea>
        </mat-form-field>
        <mat-grid-list [cols]="1" rowHeight="2em">
          <mat-grid-tile>
            <mat-divider></mat-divider><br><br>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-flat-button color="primary">{{labels.learningEvaluation}} <mat-icon style="width: auto">launch</mat-icon></button>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-divider></mat-divider> <br><br>
          </mat-grid-tile>
        </mat-grid-list>
        <div style="float: right">
          <button mat-button color="warn" >{{labels.button.cancel}}</button>
          <button [disabled]="!formGroup.valid" (click)="onSubmit()" mat-button color="primary" >{{labels.button.save}}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
