<div class="container">
  <div class="c_container">
    <div class="mat-card-container">
      <mat-card>
        <mat-card-header style="justify-content: center;">
          <mat-card-title class="title-size">
            {{labels.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="form">
            <mat-form-field>
              <mat-select formControlName="workplace" name="uno" [placeholder]="labels.workplace" (selectionChange)="getAcademicProgramsByWorkplaceId(form.controls['workplace'].value['id'])">
                <ngx-mat-select-search name="funciona1" [formControl]="searchWorkplacesCtrl" [placeholderLabel]="placeholders.search"
                                       [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
                <mat-option name="funciona" id="workplace_{{i}}" *ngFor="let academicUnit of filteredWorkplaces | async; index as i" [value]="academicUnit">
                  {{academicUnit.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="vertical_space"></div>
    <div class="table_container">
      <table mat-table [dataSource]="academicPrograms">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>{{labels.id}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{labels.name}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>{{labels.edit}}</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="edit(element.id)" color="accent">
              <mat-icon>create</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="vertical_space"></div>
    <div class="mat-card-container">
      <mat-card>
        <mat-card-header style="justify-content: center;">
          <button name="apb1" mat-fab color="primary" (click)="add()">
            <mat-icon style="color: white;">add</mat-icon>
          </button>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
