
.container{
  display: flex;
}
.myCard{
  width: 96.7vw;
  min-height: max-content;
}

mat-grid-tile *{
  width: 95%;

}
mat-form-field{
  width: 100%;
}
.myButton{
  width: 100%;
  display: block;
}
.myTable{
  width: 100%;
}
.tableHeadCell{
  display: flex;
  background-color: #ad1457;
  color: #f9f9f9
}
button {
  float: right;
}
mat-label{
  font-weight: normal;
}
