<form [formGroup]="studyPlanForm" (ngSubmit)="onSubmit.emit(true)">
  <mat-form-field>
    <mat-select formControlName="academicProgram" [placeholder]="labels.academicProgram" required>
      <ngx-mat-select-search [formControl]="searchAcademicProgramCtrl" [placeholderLabel]="placeholders.search"
                             [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
      <mat-option id="academicProgram_{{i}}" *ngFor="let academicProgram of filteredAcademicPrograms | async; index as i" [value]="academicProgram">
        {{academicProgram.name}}
      </mat-option>
    </mat-select>
    <mat-error name="peerror1" *ngFor="let error of getErrors('academicProgram')">
      {{labels.errors.academicProgram[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{labels.year}}</mat-label>
    <input name="ano" matInput formControlName="year" type="text" placeholder="{{placeholders.year}}" required>
    <mat-error name="peerror2" *ngFor="let error of getErrors('year')">
      {{labels.errors.year[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select name="matselect6" formControlName="modality" [placeholder]="labels.mode" required>
      <ngx-mat-select-search [formControl]="searchModesCtrl" [placeholderLabel]="placeholders.search"
                             [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
      <mat-option id="modality_{{i}}" *ngFor="let mode of filteredModes | async; index as i" [value]="mode">
        {{mode.name}}
      </mat-option>
    </mat-select>
    <mat-error name="peerror3" *ngFor="let error of getErrors('modality')">
      {{labels.errors.mode[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{labels.totalTheoryHours}}</mat-label>
    <input name="horast" matInput formControlName="totalTheoryHours" type="text" placeholder="{{placeholders.totalTheoryHours}}" required>
    <mat-error name="peerror4" *ngFor="let error of getErrors('totalTheoryHours')">
      {{labels.errors.totalTheoryHours[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{labels.totalPracticeHours}}</mat-label>
    <input name="horasp" matInput formControlName="totalPracticeHours" type="text" placeholder="{{placeholders.totalPracticeHours}}" required>
    <mat-error name="peerror5" *ngFor="let error of getErrors('totalPracticeHours')">
      {{labels.errors.totalPracticeHours[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{labels.totalSATCACredits}}</mat-label>
    <input name="satca" matInput formControlName="totalSATCACredits" type="text" placeholder="{{placeholders.totalSATCACredits}}" required>
    <mat-error name="peerror6" *ngFor="let error of getErrors('totalSATCACredits')">
      {{labels.errors.totalSATCACredits[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{labels.totalTEPICCredits}}</mat-label>
    <input matInput formControlName="totalTEPICCredits" type="text" placeholder="{{placeholders.totalTEPICCredits}}" required>
    <mat-error *ngFor="let error of getErrors('totalTEPICCredits')">
      {{labels.errors.totalTEPICCredits[error]}}
    </mat-error>
  </mat-form-field>
  <button type="submit" style="display: none;"></button>
</form>
