@import '~src/global_classes';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c_container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  margin-top: 20px;
}

.mat-card-container {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-shrink: 0;
}

.vertical_space {
  display: flex;
  flex-shrink: 0;
  height: 10px;
}

table {
  padding-bottom: 10px;
}
