<div class="container">
  <div class="c_container">
    <div class="title-size"
         style="width: 100%; display: flex; flex: 1; text-align: center; justify-content: center; align-items: center;">
      Ver Tareas
    </div>
    <div class="vertical_space"></div>
    <div class="table_container">
      <table mat-table [dataSource]="learningUnitTaskDataSource">

        <ng-container matColumnDef="learningUnit.name">
          <th mat-header-cell *matHeaderCellDef>{{labels.name}}</th>
          <td mat-cell *matCellDef="let element">{{element.learningUnit.name}}</td>
        </ng-container>

        <ng-container matColumnDef="learningUnit.learningUnitStatus.name">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">{{element.learningUnit.learningUnitStatus.name}}</td>
        </ng-container>

        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button (click)="view(element.learningUnit.id)" color="primary">
              Elaborar
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="viewPDF">
          <th mat-header-cell *matHeaderCellDef>Ver PDF</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="viewPDF(element.learningUnit.id)" color="accent">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
