<div>
	<div>
		<mat-card>
			<mat-card-content>       
				<!--<div>
					<button mat-raised-button color="warn">Nuevo comentario</button>
					<button mat-raised-button color="primary">Subrayar</button>
					<button mat-raised-button color="accent">Eliminar Subrayado</button>
				</div>-->
				<mat-divider></mat-divider> 
				<mat-tab-group>
					<mat-tab label="{{ labels.tagTitle[0] }}"> 
						<app-programa-sintetico [programaSintetico]="programaSintetico"></app-programa-sintetico>
					</mat-tab>
					<mat-tab label="{{ labels.tagTitle[1] }}"> 
						<app-registrar-programa-extenso [programaExtenso]="programaExtenso"></app-registrar-programa-extenso>
					</mat-tab>
					<mat-tab label="{{ labels.tagTitle[2] }}"> 
						<app-registrar-unidad-tematica></app-registrar-unidad-tematica>
					</mat-tab>
					<mat-tab label="{{ labels.tagTitle[3] }}">
						<!--<app-registrar-relacion-practicas></app-registrar-relacion-practicas>-->
					</mat-tab>
					<mat-tab label="{{ labels.tagTitle[4] }}"> 
					</mat-tab>
					<mat-tab label="{{ labels.tagTitle[5] }}"> 
					</mat-tab>
				</mat-tab-group>       
			</mat-card-content>
		</mat-card>
		
	</div>
</div>