<div class="container" >
  <mat-card class="myCard">
    <mat-card-header class="myCardHeader">
      <mat-card-title><h4>{{labels.pageTitle}}</h4></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content >
      <form [formGroup]="superFormGroup"  >
        <div formGroupName="bibliography" >
          <mat-grid-list [cols]="3" rowHeight="2em">
            <mat-grid-tile> <mat-label>{{labels.author}}</mat-label></mat-grid-tile>
            <mat-grid-tile >
              <app-select-form-control (click)="getAllAuthors()"  [multiselect]="true" (onValueChange)="updateAuthor($event)" [selectDataObject]="authSelect"></app-select-form-control>
            </mat-grid-tile>
            <mat-grid-tile>
              <button type="button" (click)="addAuthor()" mat-flat-button color="primary" >{{labels.button.addAuthor}}</button>
            </mat-grid-tile>
          </mat-grid-list><br><br>
          <mat-grid-list [cols]="2" rowHeight="2em">
            <mat-grid-tile>
              <mat-label>{{labels.pubYear}}</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input type="number" min="1454" max="2018" formControlName="publicationYear" matInput placeholder="{{labels.pubYear}}">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list><br>
          <mat-form-field>
            <input matInput type="text" formControlName="title" placeholder="{{labels.title}}"/>
          </mat-form-field>
          <mat-grid-list [cols]="2" rowHeight="2em">
            <mat-grid-tile>
              <mat-label>{{labels.pubPlace}}</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <app-select-form-control (onValueChange)="updateCountry($event)" [selectDataObject]="plcSelect"></app-select-form-control>
            </mat-grid-tile>
          </mat-grid-list><br>
          <mat-form-field>
            <input matInput type="text" formControlName="editorial" placeholder="{{labels.editorial}}"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" formControlName="isbn" placeholder="{{labels.isbn}}"/>
          </mat-form-field>

        </div>
        <mat-grid-list [cols]="2" rowHeight="2em">
          <mat-grid-tile>
            <mat-label>{{labels.bibliographyType}}</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control (onValueChange)="updateType($event)" [selectDataObject]="tpeSelect"></app-select-form-control>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label>{{labels.thematicUnit}}</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control
              [multiselect]="true"
              (onValueChange)="localThematics = $event"
              [selectDataObject]="thSelect"
            >
            </app-select-form-control>
          </mat-grid-tile>
        </mat-grid-list><br>
        <div><mat-label>{{labels.isClassic}}
          <mat-slide-toggle color="primary" [formControlName]="'isClassic'" ></mat-slide-toggle></mat-label>
        </div>
        <div style="float: right">
          <button (click)="onSubmit()" [disabled]="false" mat-button color="primary" >{{labels.button.save}}</button>
          <button mat-button (click)="onCancel()" color="warn" matStepperNext>{{labels.button.cancel}}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
