@import '~src/global_classes';

.vertical_space {
  display: flex;
  flex-shrink: 0;
  height: 10px;
}

.mat-card-container {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-shrink: 0;
}

.table_container {
  display: flex;
}

mat-panel-title {
  align-items: center;
}

mat-expansion-panel-header {
  display: flex;
}
