<div class="container">
  <mat-accordion [multi]="true" hideToggle>
    <mat-expansion-panel id="semester_{{semester.id}}" *ngFor="let semester of semesters">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Semestre: {{semester.semesterNumber}}
        </mat-panel-title>
        <button mat-icon-button id="delete_{{semester.id}}" (click)="delete(semester.id, semester.semesterNumber)" color="warn">
          <mat-icon>highlight_off</mat-icon>
        </button>
      </mat-expansion-panel-header>
      <app-find-learning-unit [studyPlanId]="studyPlanId" [semesterId]="semester.id"></app-find-learning-unit>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="vertical_space"></div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header style="justify-content: center;">
        <button mat-fab color="primary" (click)="add()">
          <mat-icon style="color: white;">add</mat-icon>
        </button>
      </mat-card-header>
    </mat-card>
  </div>
</div>
