<div class="container">
  <div class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="form-title-size bold">{{labels.formTitle}}</mat-card-title>
        <mat-card-subtitle>{{labels.formSubtitle}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-academic-program-form (onSubmit)="submit()"></app-academic-program-form>
      </mat-card-content>
      <mat-card-actions>
        <button id="apb3" mat-raised-button color="warn" (click)="cancel();">
          {{labels.cancel}}
        </button>
        <div class="small-space"></div>
        <button id="apb2" mat-raised-button color="primary" (click)="submit()">
          {{labels.submit}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
