<div class="container">
  <div class="c_container">
    <div class="mat-card-container">
      <mat-card>
        <mat-card-header style="justify-content: center;">
          <mat-card-title class="title-size">
            {{labels.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="form">
            <mat-form-field>
              <mat-select formControlName="academicProgram" [placeholder]="labels.academicProgram" (selectionChange)="getStudyPlansByAcademicProgramId(form.controls['academicProgram'].value['id'])">
                <ngx-mat-select-search [formControl]="searchAcademicProgramCtrl"
                                       [placeholderLabel]="placeholders.search"
                                       [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
                <mat-option id="academicProgram_{{i}}" *ngFor="let academicProgram of filteredAcademicPrograms | async; index as i" [value]="academicProgram"
                            (click)="getStudyPlansByAcademicProgramId(academicProgram.id)">
                  {{academicProgram.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="vertical_space"></div>
    <div class="table_container">
      <table mat-table [dataSource]="studyPlans">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>{{labels.id}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>{{labels.year}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.year}}</td>
        </ng-container>

        <ng-container matColumnDef="modality">
          <th mat-header-cell *matHeaderCellDef>{{labels.mode}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.modality.name}}</td>
        </ng-container>

        <ng-container matColumnDef="studyPlanStatus">
          <th mat-header-cell *matHeaderCellDef>{{labels.status}}</th>
          <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.statusStudyPlan.name}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>{{labels.edit}}</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button id="edit_{{element.id}}" (click)="edit(element.id)" color="accent">
              <mat-icon>create</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="vertical_space"></div>
    <div class="mat-card-container">
      <mat-card>
        <mat-card-header style="justify-content: center;">
          <button mat-fab color="primary" id="add" (click)="add()">
            <mat-icon style="color: white;">add</mat-icon>
          </button>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
