<div class="container">
  <mat-card class="myCard">
    <mat-card-header class="myCardHeader">
      <mat-card-title><h4>{{labels.pageTitle}}</h4></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>

      <mat-grid-list [cols]="2" rowHeight="2em">
        <mat-grid-tile>
          <mat-label>{{labels.learningUnit}}</mat-label>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input type="text" disabled [value]="learningUnit.name" placeholder="{{labels.learningUnit}}" matInput required>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list><br>
      <form [formGroup]="formGroup">
      <mat-grid-list [cols]="1" rowHeight="2em"><mat-divider></mat-divider></mat-grid-list>
      <!--Formulario para agregar una nueva practica -->
      <mat-grid-list  [cols]="3" rowHeight="2em">
        <mat-grid-tile>
          <mat-form-field>
            <input #num required  matInput type="number" placeholder="{{labels.practiceNumber}}"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input required #nam matInput type="text" placeholder="{{labels.practiceName}}"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-select-form-control (onValueChange)="uniTem = $event" [selectDataObject]="thSelect"></app-select-form-control>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input #len required matInput type="number" placeholder="{{labels.duration}}"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input type="text" #plc required matInput placeholder="{{labels.place}}"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <button type="button" mat-flat-button (click)="addPract(num.value, nam.value, len.value, plc.value, uniTem)" color="primary">{{labels.button.addPractice}}</button>
        </mat-grid-tile>
      </mat-grid-list>
      <!--Fin de formulario para agregar una nueva practica -->
      <mat-grid-list [cols]="1" rowHeight="2em"><span></span></mat-grid-list>
      <!-- Tabla para mostrar las practicas agregadas-->
      <mat-grid-list cols="{{tableHeader.length}}" rowHeight="2em">
          <div *ngFor="let header of tableHeader">
            <mat-grid-tile  class="tableHeadCell">
              {{header}}
            </mat-grid-tile>
          </div>
          <div *ngFor="let practice of practiceInfo$ | async">
            <mat-grid-tile class="tableBodyCell">
              {{practice.number}}
            </mat-grid-tile>
            <mat-grid-tile class="tableBodyCell">
              {{practice.name}}
            </mat-grid-tile>
            <mat-grid-tile class="tableBodyCell">
              {{practice.thematicUnit.content.name}}
            </mat-grid-tile>
            <mat-grid-tile class="tableBodyCell">
              {{practice.placeOfPractice}}
            </mat-grid-tile>
            <mat-grid-tile class="tableBodyCell">
              {{practice.length}}
            </mat-grid-tile>
            <mat-grid-tile class="tableBodyCell">
              <div >
                <button [disabled]="acabado" type="button" mat-flat-button (click)="deletePract(practice.number)">{{labels.button.delete}}</button>
              </div>
            </mat-grid-tile>
          </div>
        </mat-grid-list>
        <mat-grid-list [cols]="1" rowHeight="2em"><span></span></mat-grid-list>
        <mat-grid-list [cols]="1" rowHeight="2em"><mat-divider></mat-divider></mat-grid-list>
        <!--Fin de la tabla -->


      <!-- Boton para el pop up -->
      <mat-grid-list [cols]="1" rowHeight="2em">
        <mat-grid-tile>
          <mat-divider></mat-divider> <br><br>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-label><b>{{labels.evalAndAcredit}}</b></mat-label>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-divider></mat-divider> <br><br>
        </mat-grid-tile>
      </mat-grid-list>
        <div>
          <mat-form-field>
            <textarea matInput formControlName="accreditation" required placeholder="{{labels.acredit}}"></textarea>
          </mat-form-field>
        </div>
        <div formArrayName="practiceRelationEvaluations">
          <div *ngFor="let contro of practiceRelationEvaluations.controls; let i = index">
            <div formGroupName="{{i}}">
              <mat-grid-list [cols]="3" rowHeight="2em">
                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput type="text" placeholder="{{labels.evalName + ' ' + i+1}}" required formControlName="name">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-label>{{labels.evalPerc}}</mat-label>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput type="number" required formControlName="percentage">
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

            </div>
          </div>
          <mat-grid-list [cols]="2" rowHeight="2em">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
              <button type="button" [disabled]="acabado" (click)="popEval()" mat-flat-button color="warn">Eliminar última evaluación</button>
            </mat-grid-tile>
            <mat-grid-tile>
              <button type="button" [disabled]="acabado" (click)="addEval()" mat-flat-button color="primary">Agregar evaluación</button>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      <!-- Fin boton para el pop up -->
        <br><br>
      <div style="float: right">
        <button type="button" [disabled]="acabado" (click)="onSubmit()" mat-button color="primary">{{labels.button.save}}</button>
        <button type="button" [disabled]="acabado" mat-button color="warn" (click)="onSubmit(true)" matStepperNext>{{labels.button.cancel}}</button>
      </div>
    </form>
  </mat-card-content>

  </mat-card>
</div>
