<div class="container">
  <mat-card class="myCard">
    <mat-card-header class="myCardHeader">
      <mat-card-title><h4>{{labels.pageTitle[0]}}</h4></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    
    <mat-card-content>
      
      <form [formGroup]="formGroup" >

        <mat-grid-list rowHeight="2em" [cols]="2">
          
          <mat-grid-tile><mat-label>{{labels.academicUnit}}:</mat-label></mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control [selectDataObject]="auSelect"></app-select-form-control>
          </mat-grid-tile>
          
          <mat-grid-tile><mat-label>{{labels.academicProgram}}:</mat-label></mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control [selectDataObject]="apSelect" ></app-select-form-control>
          </mat-grid-tile>
          
          <mat-grid-tile><mat-label>{{labels.learningUnit}}:</mat-label></mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control [selectDataObject]="luSelect" ></app-select-form-control>
          </mat-grid-tile>
          
          <mat-grid-tile><mat-label>{{labels.formationArea}}:</mat-label></mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control [selectDataObject]="formationAreaSelect" ></app-select-form-control>
          </mat-grid-tile>
          
          <mat-grid-tile><mat-label>{{labels.modality}}:</mat-label></mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control [selectDataObject]="modalitySelect" (onValueChange)="formGroup.patchValue({modality: $event})" ></app-select-form-control>
          </mat-grid-tile>
          
          <mat-grid-tile><mat-label>{{labels.learningUnitType}}:</mat-label></mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control [selectDataObject]="typeSelect" [multiselect]="true" (onValueChange)="formGroup.patchValue({types: $event})" required></app-select-form-control>
          </mat-grid-tile>

          <mat-grid-tile><mat-label>{{labels.teaching}}:</mat-label></mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control [selectDataObject]="teachingSelect" (onValueChange)="formGroup.patchValue({teaching: $event})" required></app-select-form-control>
          </mat-grid-tile>
          
          <mat-grid-tile><mat-label>{{labels.validity}}:</mat-label></mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput  type="number" formControlName="validity" [min]="year" [max]="year+5" placeholder="{{labels.validity}}" title="Fecha Invalida" required/>
            </mat-form-field>
          </mat-grid-tile>
          
          <mat-grid-tile><mat-label>{{labels.semester}}:</mat-label></mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control [selectDataObject]="sSelect" ></app-select-form-control>
          </mat-grid-tile>
          
          <mat-grid-tile><mat-label>{{labels.credits}}:</mat-label></mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput  type="text" placeholder="{{labels.credits}}" [value]="credits" disabled/>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <br>
        <mat-form-field >
          <textarea rows="3" matInput required formControlName="educationalIntention" placeholder="{{labels.educIntention}}"></textarea>
        </mat-form-field>
        <br>
        <!-- *******************************************************************  -->
        <mat-card-header class="myCardHeader">
          <mat-card-title><h4>{{labels.timesAsig}}</h4></mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <br>
        <div>
            <mat-grid-list rowHeight="2em" [cols]="3">
                <mat-grid-tile><p class="mayus">{{labels.TheoryTimePerWeek}}:</p></mat-grid-tile>
                <mat-grid-tile colspan="2"><p>{{ theoryHoursPerWeek }}</p></mat-grid-tile>
                
                <mat-grid-tile><p class="mayus">{{labels.PracticeTimePerWeek}}:</p></mat-grid-tile>
                <mat-grid-tile colspan="2"><p>{{ practiceHoursPerWeek }}</p></mat-grid-tile>

                <mat-grid-tile><p class="mayus">{{labels.TheoryTimePerSemester}}:</p></mat-grid-tile>
                <mat-grid-tile colspan="2"><p>{{ theoryHoursPerSemester }}</p></mat-grid-tile>

                <mat-grid-tile><p class="mayus">{{labels.PracticeTimePerSemester}}:</p></mat-grid-tile>
                <mat-grid-tile colspan="2"><p>{{ practiceHoursPerSemester }}</p></mat-grid-tile>

                <mat-grid-tile><p class="mayus">{{labels.AutoTimePerSemester}}:</p></mat-grid-tile>
                <mat-grid-tile colspan="2"><p>{{ automaticTeaching  }}</p></mat-grid-tile>

                <mat-grid-tile><p class="mayus">{{labels.TotalTimePerSemester}}:</p></mat-grid-tile>
                <mat-grid-tile colspan="2"><p>{{ totalHoursPerSemester }}</p></mat-grid-tile>
            </mat-grid-list>
        </div>
        <br>
        <br>
        <!-- *******************************************************************  -->
        <mat-card-header class="myCardHeader">
          <mat-card-title><h4>{{labels.pageTitle[1]}}</h4></mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <br>
          <form formGroupName="teachingProfile">
            <!--<mat-label>{{labels.schoolingGrades}}: </mat-label>-->
            <mat-form-field >
              <textarea rows="3" matInput formControlName="schoolingGrades" placeholder="{{labels.schoolingGrades}}" required></textarea>
            </mat-form-field>
            <br>
            <!--<mat-label>{{labels.knowledges}}: </mat-label>-->
            <mat-form-field >
              <textarea rows="3" matInput formControlName="knowledges" placeholder="{{labels.knowledges}}" required></textarea>
            </mat-form-field>
            <br>
            <!--<mat-label>{{labels.professionalExperiences}}: </mat-label>-->
            <mat-form-field >
              <textarea rows="3" matInput formControlName="professionalExperiences" placeholder="{{labels.professionalExperiences}}" required></textarea>
            </mat-form-field>
            <br>
            <!--<mat-label>{{labels.ability}}: </mat-label>-->
            <mat-form-field >
              <textarea rows="3" matInput formControlName="ability" placeholder="{{labels.ability}}" required></textarea>
            </mat-form-field>
            <br>
            <!--<mat-label>{{labels.attitude}}: </mat-label>-->
            <mat-form-field >
              <textarea rows="3" matInput formControlName="attitude" placeholder="{{labels.attitude}}" required></textarea>
            </mat-form-field>
            <br>
          </form>
        <!-- *******************************************************************  -->
        <div style="float: right">
          <button type="button" [disabled]="isFinished"  (click)="onSave()"   mat-button color="primary" >{{labels.button.save}}</button>
          <button type="button" [disabled]="isFinished"  (click)="onSubmit()" mat-button color="warn"  matStepperNext>{{labels.button.finish}}</button>
        </div>
      
      </form>
    </mat-card-content>
  </mat-card>
</div>
