<div class="container">
  <mat-card class="myCard">
    <mat-card-header class="myCardHeader">
      <mat-card-title><h4>{{labels.pageTitle}}</h4></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content >
      <div [formGroup]="formGroup">

        <mat-form-field>
          <input value="{{numberOf}}" matInput #i min="1" (change)="changeContentArray(i.value)" type="number" placeholder="{{labels.numberOfContents}}">
        </mat-form-field>
        <div formArrayName="contents">
          <div *ngFor="let content of contents.controls; let ind = index" >
            <div formGroupName="{{ind}}">
              <mat-form-field>
                <input required placeholder="Contenido No. {{ind+1}}" matInput formControlName="name" type="text">
              </mat-form-field>
            </div>
          </div>
        </div>
        <button mat-button color="primary"  (click)="createContents()">{{labels.button.save}}</button>
        <button mat-button color="warn" (click)="closeWindow()">{{labels.button.cancel}}</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
