<div class="container">
  <div class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="form-title-size bold">{{labels.formTitle}}</mat-card-title>
        <mat-card-subtitle>{{labels.formSubtitle}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-learning-unit-form [disableSemester]="true" [studyPlanId]="studyPlanId" (onSubmit)="submit()"></app-learning-unit-form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button id="cancel" color="warn" (click)="cancel()">
          {{labels.cancel}}
        </button>
        <button mat-raised-button id="submit" color="primary" (click)="submit()">
          {{labels.submit}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
