<div class="container">
  <div class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="form-title-size bold">{{labels.formTitle}}</mat-card-title>
        <mat-card-subtitle>{{labels.formSubtitle}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="teachingProfileForm">
          <mat-form-field>
            <mat-select name="matselect2" formControlName="schoolingGrades" [placeholder]="labels.position" multiple required>
              <ngx-mat-select-search [formControl]="searchSchoolingGradesCtrl" [placeholderLabel]="placeholders.search"
                                     [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
              <mat-option id="positions_{{i}}" *ngFor="let position of filteredSchoolingGrades | async; index as i"
                          [value]="position">{{position.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select name="matselect2" formControlName="knowledges" [placeholder]="labels.position" multiple required>
              <ngx-mat-select-search [formControl]="searchKnowledgesCtrl" [placeholderLabel]="placeholders.search"
                                     [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
              <mat-option id="positinss_{{i}}" *ngFor="let position of filteredKnowledges | async; index as i"
                          [value]="position">{{position.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select name="matselect2" formControlName="professionalExperiences" [placeholder]="labels.position" multiple required>
              <ngx-mat-select-search [formControl]="searchProfessionalExperiencesCtrl" [placeholderLabel]="placeholders.search"
                                     [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
              <mat-option id="positidonss_{{i}}" *ngFor="let position of filteredProfessionalExperiences | async; index as i"
                          [value]="position">{{position.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select name="matselect2" formControlName="ability" [placeholder]="labels.position" multiple required>
              <ngx-mat-select-search [formControl]="searchAbilityCtrl" [placeholderLabel]="placeholders.search"
                                     [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
              <mat-option id="positiaonss_{{i}}" *ngFor="let position of filteredAbility | async; index as i"
                          [value]="position">{{position.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select name="matselect2" formControlName="attitude" [placeholder]="labels.position" multiple required>
              <ngx-mat-select-search [formControl]="searchAttitudeCtrl" [placeholderLabel]="placeholders.search"
                                     [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
              <mat-option id="positionss_{{i}}" *ngFor="let position of filteredAttitude | async; index as i"
                          [value]="position">{{position.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button type="submit" style="display: none;"></button>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button name="uno" id="cancel" color="warn" (click)="cancel();">
          {{labels.cancel}}
        </button>
        <button mat-raised-button name="dos" id="submit" (click)="submit()" color="primary">
          {{labels.submit}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
