<div class="container">
  <mat-card class="myCard">
    <mat-card-header class="myCardHeader">
      <mat-card-title><h4>{{labels.pageTitle}}</h4></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      <form [formGroup]="formGroup">
      <mat-grid-list [cols]="2" rowHeight="2em">
        <mat-grid-tile>
          <mat-label>{{labels.learningUnit}}</mat-label>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-select-form-control [selectDataObject]="luSelect" (onValueChange)="formGroup.patchValue({learningUnit: $event})"></app-select-form-control>
        </mat-grid-tile>
      </mat-grid-list><br>
      <mat-grid-list [cols]="1" rowHeight="2em"><mat-divider></mat-divider></mat-grid-list>
      <!--Formulario para agregar una nueva practica -->
      <mat-grid-list [formGroup]="formGroupPractice" [cols]="5" rowHeight="2em">
        <mat-grid-tile>
          <mat-form-field>
            <input required formControlName="practiceNumber" matInput type="number" placeholder="{{labels.practiceNumber}}"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input required formControlName="practiceName" matInput type="text" placeholder="{{labels.practiceName}}"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-select-form-control (onValueChange)="formGroupPractice.patchValue({thematicUnit: $event})" [selectDataObject]="thSelect"></app-select-form-control>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input required formControlName="duration" matInput type="number" placeholder="{{labels.duration}}"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-flat-button [disabled]="!formGroupPractice.valid" color="primary">{{labels.button.addPractice}}</button>
        </mat-grid-tile>
      </mat-grid-list>
      <!--Fin de formulario para agregar una nueva practica -->
      <mat-grid-list [cols]="1" rowHeight="2em"><span></span></mat-grid-list>
      <!-- Tabla para mostrar las practicas agregadas-->
      <mat-grid-list cols="{{tableHeader.length}}" rowHeight="2em">
          <div *ngFor="let header of tableHeader">
            <mat-grid-tile  class="tableHeadCell">
              {{header}}
            </mat-grid-tile>
          </div>
          <div *ngFor="let practice of practiceInfo$ | async">
            <mat-grid-tile class="tableBodyCell">
              {{practice.practiceNumber}}
            </mat-grid-tile>
            <mat-grid-tile class="tableBodyCell">
              {{practice.practiceName}}
            </mat-grid-tile>
            <mat-grid-tile class="tableBodyCell">
              {{practice.thematicUnit}}
            </mat-grid-tile>
            <mat-grid-tile class="tableBodyCell">
              {{practice.duration}}
            </mat-grid-tile>
            <mat-grid-tile class="tableBodyCell">
              <div >
                <button mat-flat-button (click)="deletePract(practice)">{{labels.button.delete}}</button>
              </div>
            </mat-grid-tile>
          </div>
        </mat-grid-list>
        <mat-grid-list [cols]="1" rowHeight="2em"><span></span></mat-grid-list>
        <mat-grid-list [cols]="1" rowHeight="2em"><mat-divider></mat-divider></mat-grid-list>
        <!--Fin de la tabla -->
      <mat-grid-list [cols]="2" rowHeight="2em">
        <mat-grid-tile>
          <mat-label>{{labels.place}}</mat-label>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-select-form-control (onValueChange)="formGroup.patchValue({place: $event})" [selectDataObject]="plSelect"></app-select-form-control>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-label>{{labels.totalHours}}</mat-label>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input required formControlName="totalHours" matInput disabled type="number" placeholder="{{labels.totalHours}}"/>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <!-- Boton para el pop up -->
      <mat-grid-list [cols]="1" rowHeight="2em">
        <mat-grid-tile>
          <mat-divider></mat-divider> <br><br>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-flat-button color="primary">{{labels.evalAndAcredit}} <mat-icon style="width: auto">launch</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-divider></mat-divider> <br><br>
        </mat-grid-tile>
      </mat-grid-list>
      <!-- Fin boton para el pop up -->
      <div style="float: right">
        <button mat-button color="warn" >{{labels.button.cancel}}</button>
        <button [disabled]="!formGroup.valid" (click)="onSubmit()" mat-button color="primary" >{{labels.button.save}}</button>
      </div>
    </form>
  </mat-card-content>

  </mat-card>
</div>
