<div class="container" (mouseover)="loadContentToTable()">
  <mat-card class="myCard" >
    <mat-card-header class="myCardHeader">
      <mat-card-title><h4>{{labels.pageTitle}}</h4></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      <form [formGroup]="formGroup" >
        <mat-grid-list rowHeight="2em" [cols]="2">
          <mat-grid-tile>
            <mat-label>{{labels.academicUnit}}</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control [selectDataObject]="auSelect" (onValueChange)="formGroup.patchValue({academicUnit: $event})"></app-select-form-control>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label>{{labels.academicProgram}}</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control [selectDataObject]="apSelect" (onValueChange)="formGroup.patchValue({academicProgram: $event})" ></app-select-form-control>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label>{{labels.learningUnit}}</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control [selectDataObject]="luSelect" (onValueChange)="formGroup.patchValue({learningUnit: $event})" ></app-select-form-control>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label>{{labels.semester}}</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-select-form-control [selectDataObject]="sSelect" (onValueChange)="formGroup.patchValue({semester: $event})" ></app-select-form-control>
          </mat-grid-tile>
        </mat-grid-list><br>
        <mat-form-field >
          <textarea formControlName="regard" matInput placeholder="{{labels.propositoLeaningUnit}}" rows="3"></textarea>
        </mat-form-field>
        <mat-form-field >
          <textarea formControlName="didacticOrientation" matInput placeholder="{{labels.didacticOrient}}" rows="4"></textarea>
        </mat-form-field>
        <mat-grid-list [cols]="3" rowHeight="2em">
          <mat-grid-tile>
            <mat-divider></mat-divider><br><br>
          </mat-grid-tile>
          <mat-grid-tile>
            <button type="button" [disabled]="isFinished" (click)="goContents()" mat-flat-button color="primary">{{labels.contents}} <mat-icon style="width: auto">launch</mat-icon></button>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-divider></mat-divider><br><br>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list [cols]="1" rowHeight="2em"><span></span></mat-grid-list>
        <!----->
        <mat-grid-list cols="{{tableHeader.length}}" rowHeight="2em">
          <div *ngFor="let header of tableHeader">
            <mat-grid-tile  class="tableHeadCell">
              {{header}}
            </mat-grid-tile>
          </div>
          <div *ngFor="let content of content$ | async">
            <mat-grid-tile class="tableBodyCell">
              {{content.number}}
            </mat-grid-tile>
            <mat-grid-tile class="tableBodyCell">
              {{content.name}}
            </mat-grid-tile>
          </div>
        </mat-grid-list>
        <mat-grid-list [cols]="1" rowHeight="2em"><span></span></mat-grid-list>
        <mat-grid-list [cols]="1" rowHeight="2em"><mat-divider></mat-divider></mat-grid-list>
        <!----->
        <mat-grid-list [cols]="3" rowHeight="2em">
          <mat-grid-tile>
            <mat-divider></mat-divider> <br><br>
          </mat-grid-tile>
          <mat-grid-tile>
            <button type="button" [disabled]="isFinished" (click)="goEval()" mat-flat-button color="primary">{{labels.evalAndAcredit}} <mat-icon style="width: auto">launch</mat-icon></button>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-divider></mat-divider> <br><br>
          </mat-grid-tile>
        </mat-grid-list><br><br>
        <mat-form-field>
          <input type="text" matInput disabled placeholder="Tipo de Acreditación" [value]="accType">
        </mat-form-field>
        <!---------->
        <mat-grid-list [cols]="1" rowHeight="2em"><span></span></mat-grid-list>
        <mat-grid-list cols="{{tableHeader2.length}}" rowHeight="2em">
          <div *ngFor="let header of tableHeader2">
            <mat-grid-tile  class="tableHeadCell">
              {{header}}
            </mat-grid-tile>
          </div>
          <div *ngFor="let evo of eval$ | async">
            <mat-grid-tile class="tableBodyCell">
              {{evo.name}}
            </mat-grid-tile>
            <mat-grid-tile class="tableBodyCell">
              {{evo.percentage}}
            </mat-grid-tile>
          </div>
        </mat-grid-list>
        <mat-grid-list [cols]="1" rowHeight="2em"><span></span></mat-grid-list>
        <mat-grid-list [cols]="1" rowHeight="2em"><mat-divider></mat-divider></mat-grid-list>
        <div style="float: right">
          <button type="button" [disabled]="isFinished"  (click)="onSave()" mat-button color="primary">{{labels.button.save}}</button>
          <button type="button" [disabled]="isFinished" mat-button color="warn" (click)="onSubmit()" matStepperNext>{{labels.button.cancel}}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
