<form [formGroup]="academicProgramForm" (ngSubmit)="onSubmit.emit(true)">
  <mat-form-field>
    <mat-label>{{labels.name}}</mat-label>
    <input matInput formControlName="name" name="uno" type="text" placeholder="{{placeholders.name}}" required>
    <mat-error name="error1" *ngFor="let error of getErrors('name')">
      {{labels.errors.name[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field style="display: none;">
    <mat-label>{{labels.titleName}}</mat-label>
    <input matInput formControlName="titleName" name="dos" type="text" placeholder="{{placeholders.titleName}}">
    <mat-error name="error2" *ngFor="let error of getErrors('titleName')">
      {{labels.errors.titleName[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field style="display: none;">
    <mat-select formControlName="workplace" [placeholder]="labels.workplace" [required]="true">
      <ngx-mat-select-search [formControl]="searchWorkplacesCtrl" [placeholderLabel]="placeholders.search"
                             [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
      <mat-option *ngFor="let workplace of filteredWorkplaces | async"
                  [value]="workplace">{{workplace.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" name="dos" style="display: none;"></button>
</form>
