<div class="container">
  <mat-card class="myCard">
    <mat-card-header class="myCardHeader">
      <mat-card-title><h4>{{labels.pageTitle}}</h4></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content >
      <div [formGroup]="formGroup" >
        <div formArrayName="topics">
          <div *ngFor="let topic of topics.controls; let i = index">
            <div formGroupName="{{i}}">
            <mat-grid-list [cols]="2" rowHeight="2em">
              <mat-grid-tile><mat-label>{{labels.topicNum}}</mat-label></mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field>
                  <input matInput disabled [value]="i + 1" formControlName="number" type="number">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-label>{{labels.topicName}}</mat-label>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field>
                  <input matInput required formControlName="name" placeholder="{{labels.topicName}}" type="text" >
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-label>{{labels.hrsDocenteTeoricas}}</mat-label>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field>
                  <input type="number" min="0" formControlName="theoricHours" matInput >
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-label>{{labels.hrsDocentePracticas}}</mat-label>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field>
                  <input type="number" min="0" formControlName="practicalHours" matInput >
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-label>{{labels.hrsAutonomas}}</mat-label>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field>
                  <input type="number" min="0" formControlName="autonomousHours" matInput >
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile></mat-grid-tile>
              <mat-grid-tile>
                <button (click)="goSubtema(i+1)" type="button" mat-flat-button color="primary">{{labels.button.addSub}} <mat-icon style="width: auto">launch</mat-icon></button>
              </mat-grid-tile>
            </mat-grid-list><br>
            <mat-divider></mat-divider><br>
            </div>
          </div>
          <mat-grid-list [cols]="2" rowHeight="2em">
            <mat-grid-tile>
              <button mat-flat-button color="warn"  type="button" (click)="popTopic()">{{labels.button.dropTopic}}</button>
            </mat-grid-tile>
            <mat-grid-tile>
              <button mat-flat-button color="primary"  type="button" (click)="addTopic()">{{labels.button.addTopic}}</button>
            </mat-grid-tile>
          </mat-grid-list><br><br>
        </div>
        <div style="text-align: center">
          <button mat-button color="primary" type="button" (click)="onSubmit()" >{{labels.button.save}}</button>
          <button mat-button color="warn" type="button" (click)="onCancel()">{{labels.button.close}}</button>

        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
