<form [formGroup]="learningUnitForm" (ngSubmit)="onSubmit.emit(true)">
  <mat-form-field>
    <mat-select formControlName="semester" [placeholder]="labels.semester" required>
      <ngx-mat-select-search [formControl]="searchSemesterCtrl" [placeholderLabel]="placeholders.search"
                             [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
      <mat-option id="aa_{{i}}" *ngFor="let semester of filteredSemesters | async; index as i" [value]="semester">
        {{semester.semesterNumber}}
      </mat-option>
    </mat-select>
    <mat-error *ngFor="let error of getErrors('semester')">
      {{labels.errors.semester[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{labels.name}}</mat-label>
    <input name="nameLU" matInput formControlName="name" type="text" placeholder="{{placeholders.name}}" required>
    <mat-error name="luerror1" *ngFor="let error of getErrors('name')">
      {{labels.errors.name[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select name="LUFA" formControlName="formationArea" [placeholder]="labels.formationArea" required>
      <ngx-mat-select-search [formControl]="searchFormationAreaCtrl" [placeholderLabel]="placeholders.search"
                             [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
      <mat-option id="oo_{{i}}" *ngFor="let formationArea of filteredFormationAreas | async; index as i"
                  [value]="formationArea">
        {{formationArea.name}}
      </mat-option>
    </mat-select>
    <mat-error name="luerror2" *ngFor="let error of getErrors('formationArea')">
      {{labels.errors.formationArea[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{labels.theoryHoursPerWeek}}</mat-label>
    <input name="horast" matInput formControlName="theoryHoursPerWeek" type="text"
           placeholder="{{placeholders.theoryHoursPerWeek}}" required>
    <mat-error name="luerror3" *ngFor="let error of getErrors('theoryHoursPerWeek')">
      {{labels.errors.theoryHoursPerWeek[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{labels.practiceHoursPerWeek}}</mat-label>
    <input name="horasp" matInput formControlName="practiceHoursPerWeek" type="text"
           placeholder="{{placeholders.practiceHoursPerWeek}}" required>
    <mat-error name="luerror4" *ngFor="let error of getErrors('practiceHoursPerWeek')">
      {{labels.errors.practiceHoursPerWeek[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{labels.SATCACredits}}</mat-label>
    <input name="satca" matInput formControlName="satcacredits" type="text" placeholder="{{placeholders.SATCACredits}}"
           required>
    <mat-error name="luerror5" *ngFor="let error of getErrors('satcacredits')">
      {{labels.errors.SATCACredits[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{labels.TEPICCredits}}</mat-label>
    <input matInput formControlName="tepiccredits" type="text" placeholder="{{placeholders.TEPICCredits}}" required>
    <mat-error *ngFor="let error of getErrors('tepiccredits')">
      {{labels.errors.TEPICCredits[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select name="LUFA2" formControlName="academy" [placeholder]="labels.academy" required>
      <ngx-mat-select-search [formControl]="searchAcademiesCtrl" [placeholderLabel]="placeholders.search"
                             [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
      <mat-option id="oo2_{{i}}" *ngFor="let academy of filteredAcademies | async; index as i"
                  [value]="academy">
        {{academy.name}}
      </mat-option>
    </mat-select>
    <mat-error name="luerror23" *ngFor="let error of getErrors('academy')">
      {{labels.errors.academy[error]}}
    </mat-error>
  </mat-form-field>


  <button type="submit" style="display: none;"></button>
</form>
