<div class="container">
  <mat-card class="myCard">
    <mat-card-header class="myCardHeader">
      <mat-card-title><h4>{{labels.pageTitle}}</h4></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content >
      <form [formGroup]="formGroup">
        <mat-form-field>
          <input matInput type="text" formControlName="name" placeholder="{{labels.name}}">
        </mat-form-field>
        <button mat-button color="primary" [disabled]="!formGroup.valid" (click)="createAccrType()">{{labels.button.save}}</button>
        <button mat-button color="warn" (click)="closeWindow()">{{labels.button.cancel}}</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
