<mat-form-field [formGroup]="formGroup" >
<mat-select formControlName="mySelect" [multiple]="multiselect"  [required]="true" #matSelect (selectionChange)="returnVal(matSelect.value)" placeholder="{{selectDataObject.placeholder}}" disabled="{{selectDataObject.disabled}}">
  <mat-optgroup [label]="labels.selectOpt">
  <mat-option  *ngFor="let option of selectDataObject.options$ | async" [value]="option.value">
    {{option.viewValue}}
  </mat-option>
  </mat-optgroup>
</mat-select>
</mat-form-field>
