<div class="container">
  <div class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="form-title-size bold">{{labels.formTitle}}</mat-card-title>
        <mat-card-subtitle>{{labels.formSubtitle}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-academic-program-form (onSubmit)="submit()"></app-academic-program-form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button name="tres" color="warn" (click)="cancel();">
          {{labels.cancel}}
        </button>
        <button mat-raised-button name="cuatro" (click)="submit()" color="primary">
          {{labels.submit}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
