<div class="container">
  <div class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="form-title-size bold">{{labels.formTitle}}</mat-card-title>
        <mat-card-subtitle>{{labels.formSubtitle}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-study-plan-form (onSubmit)="submit()"></app-study-plan-form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button id="cancel" (click)="cancel()" color="warn">
          {{labels.cancel}}
        </button>
        <button mat-raised-button id="submit" (click)="submit()" color="primary">
          {{labels.submit}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
