<form [formGroup]="humanResourceForm" (ngSubmit)="submit.emit(true)">
  <mat-form-field>
    <mat-label>{{labels.name}}</mat-label>
    <input matInput formControlName="name" name="uno" type="text" placeholder="{{placeholders.name}}" required>
    <mat-error name="errorrh1" *ngFor="let error of getErrors('name')">
      {{labels.errors.name[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{labels.firstSurname}}</mat-label>
    <input matInput formControlName="firstSurname" name="dos" type="text" placeholder="{{placeholders.firstSurname}}">
    <mat-error name="errorrh2" *ngFor="let error of getErrors('firstSurname')">
      {{labels.errors.firstSurname[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{labels.secondSurname}}</mat-label>
    <input matInput formControlName="secondSurname" type="text" name="tres" placeholder="{{placeholders.secondSurname}}">
    <mat-error name="errorrh3" *ngFor="let error of getErrors('secondSurname')">
      {{labels.errors.secondSurname[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select name="matselect1" formControlName="title" [placeholder]="labels.title" required>
      <ngx-mat-select-search [formControl]="searchTitlesCtrl" [placeholderLabel]="placeholders.search"
                             [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
      <mat-option id="title_{{i}}" *ngFor="let title of filteredTitles | async; index as i" [value]="title">{{title.name}}</mat-option>
    </mat-select>
    <mat-error name="errorrh4" *ngFor="let error of getErrors('title')">
      {{labels.errors.title[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field [ngClass]="{'hide': hidePositionField}">
    <mat-select name="matselect2" formControlName="positions" [placeholder]="labels.position" multiple required>
      <ngx-mat-select-search [formControl]="searchPositionsCtrl" [placeholderLabel]="placeholders.search"
                             [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
      <mat-option id="positions_{{i}}" *ngFor="let position of filteredPositions | async; index as i" [value]="position">{{position.name}}</mat-option>
    </mat-select>
    <mat-error name="errorrh5" *ngFor="let error of getErrors('positions')">
      {{labels.errors.positions[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select name="matselect3" formControlName="workplace" [placeholder]="labels.workplace" required>
      <ngx-mat-select-search [formControl]="searchWorkplacesCtrl" [placeholderLabel]="placeholders.search"
                             [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
      <mat-option id="workplace_{{i}}" *ngFor="let workplace of filteredWorkplaces | async; index as i"
                  [value]="workplace">{{workplace.name}}</mat-option>
    </mat-select>
    <mat-error name="errorrh6" *ngFor="let error of getErrors('workplace')">
      {{labels.errors.workplace[error]}}
    </mat-error>
  </mat-form-field>
  <button type="submit" style="display: none;"></button>
</form>
