@import '~src/global_classes';

.mat-card-container {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-shrink: 0;
}

tr.mat-row {
  cursor: pointer;
  border-radius: 50px;
}

tr.mat-row:hover {
  background: #e6e6e6;
}
