<div class="container">
  <div class="table_container">
    <table mat-table [dataSource]="learningUnitsDataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{labels.name}}</th>
        <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="tepiccredits">
        <th mat-header-cell *matHeaderCellDef>{{labels.TEPICCredits}}</th>
        <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.tepiccredits}}</td>
      </ng-container>

      <ng-container matColumnDef="satcacredits">
        <th mat-header-cell *matHeaderCellDef>{{labels.SATCACredits}}</th>
        <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.satcacredits}}</td>
      </ng-container>

      <ng-container matColumnDef="theoryHoursPerWeek">
        <th mat-header-cell *matHeaderCellDef>{{labels.theoryHoursPerWeek}}</th>
        <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.theoryHoursPerWeek}}</td>
      </ng-container>

      <ng-container matColumnDef="practiceHoursPerWeek">
        <th mat-header-cell *matHeaderCellDef>{{labels.practiceHoursPerWeek}}</th>
        <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.practiceHoursPerWeek}}</td>
      </ng-container>

      <ng-container matColumnDef="formationArea">
        <th mat-header-cell *matHeaderCellDef>{{labels.formationArea}}</th>
        <td mat-cell *matCellDef="let element" (click)="view(element.id)">{{element.formationArea.name}}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>{{labels.edit}}</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button id="edit_{{element.id}}" (click)="edit(element.id)" color="accent">
            <mat-icon>create</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="manage">
        <th mat-header-cell *matHeaderCellDef>Asignar</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button id="edits_{{element.id}}" (click)="manage(element.id)" color="accent">
            <mat-icon>library_books</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>{{labels.delete}}</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button id="delete_{{element.id}}" (click)="delete(element.id, element.name)" color="warn">
            <mat-icon>highlight_off</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header style="justify-content: center;">
        <button name="addLU" mat-fab color="primary" (click)="add()">
          <mat-icon style="color: white;">add</mat-icon>
        </button>
      </mat-card-header>
    </mat-card>
  </div>
</div>
