<div class="container">
  <mat-card class="myCard">
    <mat-card-header class="myCardHeader">
      <mat-card-title><h3>{{labels.pageTitle}}</h3></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      <form>
        <mat-grid-list rowHeight="2em" [cols]="2">
          <mat-grid-tile>
            <mat-label>{{labels.academicUnit}}:</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <p>{{ programaSintetico.unidadAcademica}}</p>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-label>{{labels.academicProgram}}:</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <p>{{ programaSintetico.programaAcademico}}</p>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-label>{{labels.learningUnit}}:</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <p>{{ programaSintetico.unidadAprendizaje}}</p>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-label>{{labels.semester}}:</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <p>{{ programaSintetico.semestre}}</p>
          </mat-grid-tile>

        </mat-grid-list><br>
        <div>
            <mat-label>{{labels.propositoLeaningUnit}}:</mat-label>
            <p>{{ programaSintetico.proposito}}</p>
        </div>

        <div>
            <mat-label>{{labels.contents}}:</mat-label>
            <ol type="I">
              <li *ngFor="let contenido of programaSintetico.contenidos"><p>{{contenido.nombre}}</p></li>
            </ol>
        </div>

        <div>
            <mat-label>{{labels.didacticOrient}}:</mat-label>
            <p>{{ programaSintetico.orientacionDidactica}}</p>
        </div>

        <div>
            <mat-label>{{labels.evalAndAcredit}}:</mat-label>
            <p>{{ programaSintetico.proposito}}</p>
        </div>

        <div>
            <mat-label>{{labels.biblio}}:</mat-label>
            <p>{{ programaSintetico.proposito}}</p>
        </div>
        
        
        <div style="float: right">
          <button mat-button color="warn" >{{labels.button.cancel}}</button>
          
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
