<div>
  <div>
    <mat-card>
      <mat-card-content>
        <!--<div>
                    <button mat-raised-button color="warn">Nuevo comentario</button>
                    <button mat-raised-button color="primary">Subrayar</button>
                    <button mat-raised-button color="accent">Eliminar Subrayado</button>
                </div>-->
        <!--<mat-divider></mat-divider>-->
        <mat-horizontal-stepper [linear]="false" #stepper (selectionChange)="getLearningUnit()">
          <mat-step [stepControl]="syntheticProgramComponent.formGroup">
            <ng-template matStepLabel>Programa Sintetico</ng-template>
            <app-registrar-programa-sintetico></app-registrar-programa-sintetico>
          </mat-step>
          <mat-step [stepControl]="extensiveProgramCoponent.formGroup">
            <app-registrar-programa-extenso></app-registrar-programa-extenso>
          </mat-step>
          <mat-step [stepControl]="thematicUnitsComponent.formGroup">
            <app-registrar-unidad-tematica></app-registrar-unidad-tematica>
          </mat-step>
          <mat-step [stepControl]="practiceRelationComponent.formGroup">
            <app-registrar-relacion-practicas></app-registrar-relacion-practicas>
          </mat-step>
          <mat-step [stepControl]="evaluationSystemComponent.formGroup">
            <app-registrar-sistema-evaluacion></app-registrar-sistema-evaluacion>
          </mat-step>
          <mat-step [stepControl]="bibliographyComponent.superFormGroup">
            <app-bibliography></app-bibliography>
          </mat-step>
          <mat-step [stepControl]="practiceRelationComponent.formGroup">
            <app-registrar-elaboracion-autorizacion></app-registrar-elaboracion-autorizacion>
          </mat-step>
          <mat-step>
            <div class="container div-button">
              <mat-card class="myCard">
                <mat-card-header class="myCardHeader">
                  <button type="button" class="button-finish" (click)="onSubmit()" mat-button
                          color="warn">{{labels.finish}}</button>
                </mat-card-header>
              </mat-card>
            </div>
          </mat-step>

        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>

  </div>
</div>
