<div class="container">
  <mat-card class="myCard">
    <mat-card-header class="myCardHeader">
      <mat-card-title><h3>{{labels.pageTitle}}</h3></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      <form [formGroup]="formGroup" >
      <mat-grid-list rowHeight="2em" [cols]="2">
        <mat-grid-tile>
          <mat-label>{{labels.academicUnit}}:</mat-label>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{ programaExtenso.unidadAcademica}}</p>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-label>{{labels.academicProgram}}:</mat-label>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{ programaExtenso.programaAcademico}}</p>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-label>{{labels.learningUnit}}:</mat-label>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{ programaExtenso.unidadAprendizaje}}</p>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-label>{{labels.formationArea}}:</mat-label>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{ programaExtenso.areaFormacion}}</p>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-label>{{labels.mode}}:</mat-label>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{ programaExtenso.modalidad}}</p>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-label>{{labels.learningUnitType}}:</mat-label>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{ programaExtenso.tipoUA}}</p>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-label>{{labels.vige}}:</mat-label>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{ programaExtenso.vigencia}}</p>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-label>{{labels.semester}}:</mat-label>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{ programaExtenso.semestre}}</p>
        </mat-grid-tile>
        
        <mat-grid-tile>
          <mat-label>{{labels.credits}}:</mat-label>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{ programaExtenso.creditos}}</p>
        </mat-grid-tile>
        
      </mat-grid-list><br>
      
      <div>
          <mat-label>{{labels.educIntention}}:</mat-label>
          <p>{{ programaExtenso.intencionEducativa}}</p>
      </div>

      <div>
          <mat-label>{{labels.propositoLeaningUnit}}:</mat-label>
          <p>{{ programaExtenso.proposito}}</p>
      </div>

      <div>
          <mat-label>{{labels.timesAsig}}:</mat-label>
          <div>
            <mat-grid-list rowHeight="2em" [cols]="2">
                <mat-grid-tile>
                  <p class="mayus">{{labels.TheoryTimePerWeek}}:</p>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p>{{ programaExtenso.tiempoAsignado.horaTeoricaSemana}}</p>
                </mat-grid-tile>

                <mat-grid-tile>
                  <p class="mayus">{{labels.TheoryTimePerSemester}}:</p>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p>{{ programaExtenso.tiempoAsignado.horaTeoricaSemestre}}</p>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <p class="mayus">{{labels.PracticeTimePerWeek}}:</p>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p>{{ programaExtenso.tiempoAsignado.horaPracticaSemana}}</p>
                </mat-grid-tile>

                <mat-grid-tile>
                  <p class="mayus">{{labels.PracticeTimePerWeek}}:</p>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p>{{ programaExtenso.tiempoAsignado.horaPracticaSemestre}}</p>
                </mat-grid-tile>

                <mat-grid-tile>
                  <p class="mayus">{{labels.AutoTimePerSemester}}:</p>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p>{{ programaExtenso.tiempoAsignado.horaAprendizajeAutonomo}}</p>
                </mat-grid-tile>

                <mat-grid-tile>
                  <p class="mayus">{{labels.TotalTimePerSemester}}:</p>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p>{{ programaExtenso.tiempoAsignado.horaTotalSemestre}}</p>
                </mat-grid-tile>

            </mat-grid-list>
          </div>
      </div>
      
      <div style="float: right">
        <button mat-button color="warn" >{{labels.button.cancel}}</button>
        <button (click)="onSubmit()" [disabled]="!formGroup.valid" mat-button color="primary" >{{labels.button.save}}</button>
      </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
