@import "~src/global_vars";
@import '~src/global_classes';

.mat-card-title{
  font-size: 4.3rem;
  color: #770C45;
}
.mat-card-subtitle{
  font-size: 2.1rem;
  color: #000;
}
.options{
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.54) !important;
}

.mat-card-content{
  font-size: 1.0rem;
  padding: 5px 10px;
  font-weight: 400;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.form-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

mat-card {
  width: 80%;
}

@media screen and (max-width: 900px) {
  mat-card {
    width: 80%;
  }
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

button {
  display: flex;
  flex: 1;
  width: 100%;
  justify-items: center;
  justify-content: center;
}

.space {
  width: 20px;
}

.ipn_img {
  background: url("~src/assets/ipn.png") no-repeat;
  background-size: 100% 100%;
  width: 30px;
  height: 45px;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: normal;
  flex: 0 0 auto;
  text-align: center;
  height: fit-content;
}
