<div class="container">
  <mat-toolbar color="primary">
    <div></div>
    <div class="ipn_img"></div>
  </mat-toolbar>
  <div class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="form-title-size">{{ etiquetas.pageTitle }}</mat-card-title>
        <mat-card-subtitle> {{ etiquetas.pageSubtitle }} </mat-card-subtitle>
        <mat-card-subtitle class="options"> {{ etiquetas.options }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <p> {{ etiquetas.otherOpctionsTitle }}: </p>
          <ul>
            <div *ngFor="let opcion of otrasOpciones">
              <li> {{opcion}} </li>
            </div>
          </ul>
        </div>
        <div>
          <p> {{ etiquetas.causesTitle }}: </p>
          <ul>
            <div *ngFor="let causa of causas">
              <li> {{causa}} </li>
            </div>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>