<div class="container">
  <div class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="form-title-size bold">{{labels.formTitle}}</mat-card-title>
        <mat-card-subtitle>{{labels.formSubtitle}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="taskForm">
          <mat-form-field>
            <mat-select formControlName="user" [placeholder]="labels.user" [required]="true">
              <ngx-mat-select-search [formControl]="searchUsersCtrl" [placeholderLabel]="placeholders.search"
                                     [noEntriesFoundLabel]="labels.notFound"></ngx-mat-select-search>
              <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                {{user.humanResource.name}} {{user.humanResource.firstSurname}} {{user.humanResource.secondSurname}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button type="submit" name="dos" style="display: none;"></button>
        </form>

      </mat-card-content>
      <mat-card-actions>
        <button id="apb3" mat-raised-button color="warn" (click)="cancel();">
          {{labels.cancel}}
        </button>
        <div class="small-space"></div>
        <button id="apb2" mat-raised-button color="primary" (click)="submit()">
          {{labels.submit}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
