<app-human-resource-form [hidePositionField]="true" (submit)="this.onSubmit.emit(true);"></app-human-resource-form>
<form [formGroup]="userForm" (ngSubmit)="this.onSubmit.emit(true);">
  <mat-form-field>
    <mat-select name="matselect4" formControlName="roles" [placeholder]="labels.roles" [required]="true" multiple>
      <mat-option id="roles_{{i}}" *ngFor="let role of roles; index as i"
                  [value]="role">{{role.name}}</mat-option>
    </mat-select>
    <mat-error name="erroru3" *ngFor="let error of getErrors('roles')">
      {{labels.errors.roles[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{labels.email}}</mat-label>
    <input name="cuatro" matInput formControlName="email" type="email" placeholder="{{placeholders.email}}" required>
    <mat-error name="erroru1" *ngFor="let error of getErrors('email')">
      {{labels.errors.email[error]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{labels.password}}</mat-label>
    <input name="cinco" matInput formControlName="password" type="password" placeholder="{{placeholders.password}}" required>
    <mat-error name="erroru2" *ngFor="let error of getErrors('password')">
      {{labels.errors.password[error]}}
    </mat-error>
  </mat-form-field>
  <mat-accordion [ngClass]="{'hide': hideAdvancedOpts}">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-description>
          {{labels.advancedOptions}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-checkbox [formControl]="userForm.controls['accountBlocked']" class="example-margin">
        {{labels.access}}
      </mat-checkbox>
    </mat-expansion-panel>
  </mat-accordion>
  <button type="submit" style="display: none;"></button>
</form>
